@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body{
    width: 100%;
    height: 100vh;
    
    display:  flex ;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,#300425, #e84b63);
}


.calculator{
    padding: 22px;
   
    border-radius: 20px;
    
    background: linear-gradient(145deg,#370b6a, #e2314c);
    box-shadow:
        0 20px 40px rgba(0,0,0,0.4),
        inset 0 0 10px rgba(255,255,255,0.1);
    animation: slideIn 0.7s ease;
}


input{
    width: 56%;
    height: 70px;
    border: none;
    outline: none;
    margin-bottom: 15px;
    padding: 0 20px;
    margin: 0 0 10px 0;

    background: rgba(255,255,255,0.08);
    border-radius: 12px;

    color: #fff;
    text-align: right;
    font-size: 26px;
    line-height: 70px;

    box-shadow: inset 0 0 12px rgba(0,0,0,0.4);
    animation: glowInput 2s infinite alternate;
}


button{
        align-items: center;
    width: 58px;
    height: 58px;
    margin: 6px;
    border: none;
    border-radius: 16px;
    background: rgba(255,255,255,0.08);
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 8px 15px rgba(0,0,0,0.3), inset 0 0 5px rgba(255,255,255,0.1);

    transition: 0.25s ease;
}


button:hover{
    background: rgba(255,255,255,0.18);
    transform: translateY(-4px) scale(1.05);
}


button:active{
    transform: scale(0.95);
}


.operator{
    color: rgb(98, 248, 146);
    background: rgba(0,0,0,0.15);
}


.equalBtn{
    background: linear-gradient(145deg,#fb7c14, #ff9a3c);
    color: #ffffff;
    box-shadow: 0 10px 25px rgba(251,124,20,0.5);
}

.equalBtn:hover{
    transform: scale(1.08);
}
.equalBtn:active{
    transform: scale(0.95);
}


@keyframes slideIn{
    from{
        transform: translateY(30px) scale(0.9);
        opacity: 0;
    }
    to{
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}

@keyframes glowInput{
    from{
        box-shadow: inset 0 0 8px rgba(255,255,255,0.2);
    }
    to{
        box-shadow: inset 0 0 16px rgba(255,255,255,0.45);
    }
}


@media (max-width: 480px){
    .calculator{
        padding: 16px;
        border-radius: 16px;
    }

    button{
        width: 52px;
        height: 52px;
        font-size: 16px;
    }

    input{
        height: 60px;
        font-size: 22px;
        line-height: 60px;
    }
}
